{% extends 'base.html' %}
{% block title %} Account Details {% endblock %}
{% block content %}

<div class="details-container">
  <h1 class="details-container-heading">Account details</h1>

  <div class="account-details">
    <p class="detail">
      <span class="account-label">Username:</span>
      <span class="account-value">{{ user.username }}</span>
      <button type="button" onclick="location.href='{% url 'users:username_update' %}'" class="details-container-button">Update</button>
    </p>
  
    <p class="detail">
      <span class="account-label">Email:</span>
      <span class="account-value">{{ user.email }}</span>
      <button type="button" onclick="location.href='{% url 'users:email_update' %}'" class="details-container-button">Update</button>
    </p>
  
    <p class="detail">
      <span class="account-label">First Name:</span>
      <span class="account-value">{{ user.first_name }}</span>
      <button type="button" onclick="location.href='{% url 'users:first_name_update' %}'" class="details-container-button">Update</button>
    </p>
  
    <p class="detail">
      <span class="account-label">Last Name:</span>
      <span class="account-value">{{ user.last_name }}</span>
      <button type="button" onclick="location.href='{% url 'users:last_name_update'%}'" class="details-container-button">Update</button>
    </p>
    <span class="account-label">Password</span>
    <button type="button" onclick="location.href='{% url 'users:password_update' %}'" class="details-container-button">Change Password</button>
  </div>
  
</div>


{% endblock %}