{% extends 'base.html' %}

{% block content %}
<div class="colour-title">
<h2>Project List</h2></div>
{% if no_projects_message %}
    <p>{{ no_projects_message }}</p>
  {% endif %}
<ul class="project-list">
    {% for project in projects %}
        <li class="project-item">
            <div class="project-info">
                <h3>{{ project.project_title }}</h3>
                <p class="description">{{ project.project_description }}</p>
                <p><strong>Status:</strong> {{ project.projectStatus }}</p>
            </div>
            <div class="project-buttons">
                <button type="button" onclick="location.href='{% url 'tasks:project_detail' project.id %}'" class="button-main">View Details</button>
                <button type="button" onclick="location.href='{% url 'tasks:update_project' project.id %}'" class="button-main">Edit Project</button>
                <button type="button" onclick="location.href='{% url 'tasks:delete_project' project.id %}'" class="button-delete">Delete Project</button>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
