{% extends 'base.html' %}

{% block content %}

  <div class="project-details">
  <h2>{{ project.project_title }}</h2>
  <p><strong>Created:</strong> {{ project.start_date|date:"F d, Y H:i" }}</p>
  <p><strong>Modified:</strong> {{ project.modified|date:"F d, Y H:i" }}</p>
  <p><strong>Status:</strong> {{ project.get_projectStatus_display }}</p>
  <p><strong>Priority:</strong> {{ project.get_projectPriority_display }}</p>
  <p><strong>Created by:</strong> {{ project.created_by.username }}</p>
  <p><strong>Description:</strong> {{ project.project_description|linebreaksbr }}</p>

  <button type="button" onclick="location.href='{% url 'tasks:project_list'  %}'" class="button-main">View Projects</button>
  <button type="button" onclick="location.href='{% url 'tasks:update_project' project.id %}'" class="button-main">Edit Project</button>
  <button type="button" onclick="location.href='{% url 'tasks:delete_project' project.id %}'" class="button-delete">Delete Project</button>
  </div>
    

{% endblock %}